@font-face {
    font-family: "BebasNeue-Regular";
    src: url(../fonts/BebasNeue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: "BebasNeue-Bold";
    src: url(../fonts/BebasNeue/BebasNeue-Bold.otf);
}

@font-face {
    font-family: "Raleway-Bold";
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
}
@font-face {
    font-family: "Raleway-Regular";
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: "Raleway-Medium";
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}